#testimonials-slider, .testimonials-slider li{
	margin:0;
	padding:0;
}
#testimonials-slider li{
	list-style: none;
	display:none; 
}

#testimonials-slider li p{
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
}
#testimonials-slider li .name{
	color: #3498db;
	border-bottom: 1px solid #3498db;
	font-weight: 700;
	padding: 15px 0 0 0;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: left;
}
#testimonials-slider li blockquote {
	text-align: justify;
	font-weight: 300;
	font-size: 16px;
	line-height: 18px;
	background: #f7f7f7;
	font-family: 'Source Sans Pro', sans-serif;
	color: #787878;
	padding: 25px 25px;
	border-left: 8px solid #3498db;
	border-right: 8px solid #3498db;

}
#controls{
	margin-bottom: 45px;
	text-align: center;
}