.top-bar{
	background: #333;
	border-bottom: 1px solid #3498db;
	margin-bottom: 45px;
}
.navigation ul{
	text-align: center;
	margin: 0;
	padding: 0;
}
.navigation ul li{
	display: inline-block;
	position: relative;
}
.navigation ul li a{
	font-family: 'Source Sans Pro';
	color: #fff;
	line-height: 70px;
	padding: 0 10px;
	display: block;
	text-transform: bold;
	font-size: 15px;
	font-weight: 300;
	text-decoration: none;
}
.navigation ul li a:hover{
	color: #fff;
	background-color: #3498db;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.navigation ul li .active{
	background-color: #3498db;
}
.profile{
	margin: 45px auto 45px;
	text-align: center;
}
.profile h1{
	font-weight: 900;
	font-style: italic;
}
.avatar img{
	width: 100px;
	height: 100px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	border-radius: 150px;
}
.divider{
	width: 50px;
	margin: 5px auto 5px;
	height: 3px;
	background: #3498db;
}
.heading{
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	border-bottom: 3px solid #ededed;
}
.profile h3, h6{
	margin: 0;
}
.heading span{
	color: #3498db;
}
.basic-info ul{
	list-style: none;
	padding: 0;
}
.basic-info ul li{
	border-bottom: 1px solid #ededed;
	padding: 1px 0;
}
.basic-info ul li:first-child{
}
.basic-info ul li i{
	width: 10px;
	height: 10px;
	color: #3498db;
}
.basic-info ul li span{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	font-style: italic;
	margin-left: 15px;
}
.description p{
	text-align: justify;
	color: #545454;
}
/*Working section*/
.jobs .jobs-body{
	margin: 15px auto 0;
}
.jobs .single-job {
	margin-bottom: 20px;
}
.jobs .single-job img{
	width: 50px;
	margin-top: 15px;
	height: 50px;
	float: left;
}
.jobs .single-job .job-info {
	display: table; 
	height: 80px; 
	padding-left: 15px;
	overflow: hidden;
}
.jobs .single-job .job-info .vertical-center{
	display: table-cell; 
	vertical-align: middle;
}
.jobs .single-job .job-info h6{
	color: #545454;
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;

}
.jobs .single-job .job-info span{
	font-style: italic;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 0.8rem;
	color: #7c7c7c;
}
.jobs-divider{
	width: 3px;
	height: 80px;
}
/*EDU section*/
.edu .edu-body{
	margin: 15px auto 0;
}
.edu .single-edu {
	margin-bottom: 20px;
}
.edu .single-edu img{
	width: 50px;
	margin-top: 15px;
	height: 50px;
	float: left;
}
.jobs .single-job .logo-job{
	width: 50px;
	margin-top: 15px;
	height: 50px;
	float: left;
}

.jobs .single-job .logo-job i{
	font-size: 50px;
	color: #3498db;
}

.edu .single-edu .school-logo{
	width: 50px;
	margin-top: 15px;
	height: 50px;
	float: left;
}
.edu .single-edu .school-logo i{
	font-size: 50px;
	color: #3498db;
}
.edu .single-edu .edu-info {
	display: table; 
	height: 80px; 
	padding-left: 15px;
	overflow: hidden;
}
.edu .single-edu .edu-info .vertical-center{
	display: table-cell; 
	vertical-align: middle;
}
.edu .single-edu .edu-info h6{
	color: #545454;
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;

}
.edu .single-edu .edu-info span{
	font-style: italic;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 0.8rem;
	color: #7c7c7c;
}
.edu-divider{
	width: 3px;
	height: 80px;
}
/*Progress BAR*/
.progressBar {
	margin-top: 10px;
	width: 100%;
	height: 40px;
	background-color: #c3c3c3;
}

.progressBar div {
	height: 100%;
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	text-align: left;
	width: 0;
	background-color: #3498db;
}
.progressBar div p {
	line-height: 40px;
	margin-left: 10px;
}
/*Testimonials*/
.testimonials{
	margin-top: 45px;
	overflow: hidden;
}
.testimonials .heading{
	padding: 5px 10px;
	text-align: center;
}
.testimonials .heading span{
	color: #3498db;
	text-align: center;
	padding: 25px 0;
	font-family: 'Source Sans Pro', sans-serif;
}
.single-testimonial{

}
.single-testimonial p{
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
}
.single-testimonial{
	margin: 25px 0;
}
.single-testimonial .name{
	color: #3498db;
	border-bottom: 1px solid #3498db;
	font-weight: 700;
	padding: 15px 0 0 0;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: left;

}
blockquote {
	text-align: justify;
	font-weight: 300;
	font-size: 16px;
	line-height: 18px;
	background: #f7f7f7;
	font-family: 'Source Sans Pro', sans-serif;
	color: #787878;
	padding: 25px 25px;
	border-left: 8px solid #3498db;

}
.page-heading .heading-divider{
	width: 50%;
	height: 2px;
	background: #3498db;
	margin: 0 auto 45px;
}
.page-heading h1{
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
}
.partners-container{
	margin-top: 45px;
}
#partner{
	border: 2px solid #3c3c3c;
}
#partner img{
	width: 150px;
	height: 45px;
	padding: 5px 10px;
}
#partner:hover{
	cursor: pointer;
	border: 2px solid #3498db;
}
.show{
	margin-top: 45px;
	width: 50%;
	margin: 15px auto 15px;
}
#desc{
	overflow: hidden;
	background: #f7f7f7;
	color: #545454;
	display: none;
	margin-top: 100px;
	text-align: justify;
	padding: 20px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
}
.divide{
	height: 100px;
	width: 100%;

}
/*Contact form*/
#contact{
	margin-top: 25px;
}
#contact label{
	margin: 0;
}
.form label {
	margin-bottom: 0;
}
/*Free time*/
.free-time .single-time{
	font-size: 24px;
	text-align: center;
}
.free-time .single-time p{
	font-size: 15px;
}
.free-time .single-body{
	padding: 30px;
}

/*About us page*/
.events{
	width: 250px;
	margin: 0 auto;
}
.events .single-event{
	width: 250px;
	background: #f7f7f7;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
}
.events .single-event .date{
	border: 1px solid #3498db;
	color: #fff;
	background: #3498db;
	padding: 5px 10px;
	width: 250px;
}
.events .single-event .info{
	padding-bottom: 10px;
}

/*Products*/
.products-container table{
	width: 650px;
	margin: 0 auto;
}
.products-container .tg th{
	padding: 10px 0;
}
.products-container .tg th{
	text-align: center;
}
.products-container .tg td{
	text-align: center;
	border-bottom: 2px solid #c3c3c3;
}
.products-container .tg td {
	padding: 10px 0;
}
.products-container .tg tr:first-child {
    background: #3498db;
    color: #fff;
}
.products-container .tg td img{
	width: 200px;
	height: 100px;
}

